<!doctype html>
<html>
<head>
    <title>Getting Started - Planet HTML5 Game Engine</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,user-scalable=no">
    <link rel="stylesheet" href="{{assets}}/css/styles/monokai.css">
    <link rel="stylesheet" href="{{assets}}/css/default.css">
    <!-- [if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/es5-shim/4.0.5/es5-shim.min.js"></script>
    <![endif]-->
</head>
<body data-spy="scroll" data-target=".navbar">
    <header class="header">
        <p>Planet HTML5 Game Engine</p>
        <h1>Getting Started</h1>
        <button type="button">menu toggle</button>
    </header>
    <div class="container">
        <aside class="menu">
            <nav class="navbar" data-spy="affix"  data-offset-top="150">
                <h2>table of contents</h2>
                <ul class="nav nav-tabs" role="tablist">
                    {{#withSort items 'data.order'}}
                    {{#each pages}}
                    <li>
                        <a href="#{{data.id}}">{{data.title}}</a>
                        <ul>
                        {{#each ../../pages}}
                        {{#ifeq data.item_key compare=../data.item_key}}
                        {{#is data.child true}}
                            <li><a href="#{{data.id}}">{{data.title}}</a></li>
                        {{/is}}
                        {{/ifeq}}
                        {{/each}}
                        </ul>
                    </li>
                    {{/each}}
                    {{/withSort}}
                </ul>
                <div class="top_button">
                    <a href="#"><span class="up_arrow"></span> top</a>
                </div>
            </nav>
        </aside>
        <main class="main">
            {{#withSort items 'data.order'}}
            {{#each pages}}
            <article id="{{data.id}}">
                <h2>{{data.title}}</h2>
                {{#markdown}}
                    {{{page}}}
                {{/markdown}}

                {{#each ../../pages}}
                {{#ifeq data.item_key compare=../data.item_key}}
                {{#is data.child true}}
                    <article id="{{data.id}}">
                        <h3>{{data.title}}</h3>
                        {{#markdown}}
                            {{{page}}}
                        {{/markdown}}
                    </article>
                {{/is}}
                {{/ifeq}}
                {{/each}}
            </article>
            {{/each}}
            {{/withSort}}
        </main>
    </div>
    <footer class="footer">
        <p>copyright &copy; SK planet. all rights reserved.</p>
    </footer>
    <script src="{{assets}}/js/jquery-1.11.2.min.js"></script>
    <script src="{{assets}}/js/bootstrap.js"></script>
    <script src="{{assets}}/js/highlight.pack.js"></script>
    <script src="{{assets}}/js/default.js"></script>
</body>
</html>
